
# Created by https://www.toptal.com/developers/gitignore/api/dotenv,firebase
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv,firebase

*.log      # Ignora todos los archivos .log
*.tmp      # Ignora todos los archivos .tmp

### dotenv ###
.env

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/
services/firebase-service-account.json

# End of https://www.toptal.com/developers/gitignore/api/dotenv,firebase